@mixin padding-xy($x,$y){
	padding: {
		top:$y;
		bottom:$y;
		left:$x;
		right:$x;
	}
}

@mixin gradient-bg($color1,$color2,$color3){
	background: linear-gradient(90deg, $color1 0%, $color2 35%, $color3 100%);
}