$Red: rgb(224, 100, 176);
$Green: #64E0BA;
$Blue: rgb(18, 171, 231);
$White: whitesmoke;

$PrimaryColor: Blue;
$SecondaryColor: lighten($Blue, 10%);
$AccentColor: darken($Red, 20%);

$PaddingX: .5rem;
$PaddingY: .6rem;
