/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 09-oct-2020, 14:41:10
    Author     : dsaez
*/
@import url(https://fonts.googleapis.com/css?family=Fredoka+One|IM+Fell+English|Montserrat|Sanchez|Rock+Salt);
.container {
  background: linear-gradient(90deg, Blue 0%, #3cbdf0 35%, #b92580 100%);
  color: whitesmoke; }

body {
  background: linear-gradient(90deg, #caedfb 0%, #D8FD8E 35%, #FDEC8E 100%); }

nav {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

/*# sourceMappingURL=style.css.map */
